*{
    padding: 0px;
    margin: 0px;
    font-family: "Public Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal;
}


/*General CSS*/
:root{
    --primaryColor:#20ca4b;
    --LightColor:#ffffff;
    --SecondaryColor:#f99a00;
    --DarkColor:#585858;
}

.primary-color{
    background-color: var(--primaryColor);
}

#topbar .bi{
    color: var(--primaryColor) !important;
}

/*Header CSS*/
.top-header-span{
    font-size: 15px;
    vertical-align: middle;
}


/* navber */
.container{
    /* height: 40px; */
    color: #ffffff;
    
}

/* cbpi-logo */
.cbpi-logo{
    height: 58px;
}



/* Hero */

.hero .carousel-item img{
    height: 600px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.hero .carousel-item::before{
    content: '';
    background-color: rgba(0, 0, 0, 0.816);
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    opacity: .7;
}

.hero .carousel-item .carousel-container{
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    bottom: 0;
    top: 0;
    right: 0;
    left: 0;
}

.hero .carousel-topics{
    text-align: center;
    width: 70%;
}

.hero .carousel-heading-topics{
    color: rgb(0, 150, 170);
    font-size: 39px;
    font-weight: 650;
}

.hero .carousel-heading-topics span{
    color: rgb(4, 137, 11);
}

.hero .carousel-item p{
    font-size: 14px;
    color: var(--LightColor);
}

/* student info */

.std-info .info-icons {
    height: 70px;
    width: 85px;
    padding: 7px;
}


.card-body{
    color: #000000;
}

.std-info  .card-title{
    font-size: 29px;
    font-weight: 750;
}

.std-info p{
    font-size: 16px;
}


/* About section */

.container{
    color: #000000;
    font-size: px;
}

.fw-bold{
    text-align: center;
}


/* cpbi */
.cpbi{
    text-align: center;
}

.btn-outline-dark{
    border-color: var(--primaryColor)!important;
    background-color:rgb(0, 190, 63) !important;
    color: var(--primaryColor);
}

.btn-outline-dark:hover{
    border-color: var(--primaryColor)!important;
    background-color: transparent !important;
    color: var(--primaryColor)!important;
}


/* course section */

.course-heading{
    color: var(--DarkColor);
    cursor: pointer;
}

.course-heading:hover{
    color: var(--primaryColor);
}

.course-section p{
    font-size: 14.5px;
    color: #5e8768;
}